/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

/* Базовые стили */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Onest", sans-serif;
    font-weight: 400;
}

a {
    cursor: pointer;
    font-family: "Onest", sans-serif;
    font-weight: 400;  
}

button {
    cursor: pointer;
    font-family: "Onest", sans-serif;
    font-weight: 400;
}

img, svg {
    max-width: 100%;
}

/* Стили для шапки */
header {
    display: grid;
    place-items: center;
    padding: 25px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: white;
}

header h1 {
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 5, 1);
}

header .menu {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

header .menu a {
    color: rgba(30, 30, 31, 1);
    margin-right: 25px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

header .menu a:hover {
    color: rgba(80, 80, 85, 1);
}

header .menu .language {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}

header .menu .language img {
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease-in-out;
}

header .menu .language p {
    font-size: 18px;
    font-weight: 500;
    color: rgba(30, 30, 31, 1);
}

header .menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    width: 60px;
    background-color: white;
}

header .menu .dropdown p {
    margin: 0;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(30, 30, 31, 1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

header .menu .dropdown p:hover {
    background: rgba(240, 240, 240, 1);
}


/* Стили для блока Hero */
.hero {
    background-image: url("../images/1.png");
    background-size: cover;
    background-position: center;
    max-height: 952px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    transition: background-image 0.8s ease-in-out;
}

.hero.fade {
    opacity: 0;
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.hero h2 {
    color: white;
    font-size: clamp(32px, 5vw, 56px);
    font-weight: 700;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    max-width: 932px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.hero p {
    color: white;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    max-width: 932px;
    margin-bottom: 30px;
}

.hero a {
    color: black;
    background: linear-gradient(92.02deg, #FDD400 0%, #FB6B16 100%);
    padding: 15px 25px;
    margin-top: 50px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.hero a:hover {
    background: linear-gradient(92.02deg, #E6C100 0%, #E55A00 100%);
}

/* Стилизация точек */
.hero .dots {
    display: flex;
    gap: 8px;
    margin-top: 100px;
}

.hero .dots .dot {
    width: 12px;
    height: 12px;
    background-color: rgba(102, 100, 103, 1);
    border-radius: 30px;
    margin-right: 5px;
}

.hero .dots .dot.active {
    background-color: white;
}

.hero .dots .dot:last-child {
    margin-right: 0;
}


/* Стили для блока с преимуществами */
.advantages {
    padding: 100px 0;
}

.advantages h2 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.advantages .container {
    padding: 100px 50px 0px 100px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.advantages .container .block {
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    border: 1px solid rgba(240, 239, 239, 1);
    margin-right: 25px;
    margin-bottom: 35px;
    padding: 20px;
}

.advantages .container .block .top {
    display: flex;
    padding-bottom: 10px;
}

.advantages .container .block .top img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.advantages .container .block .top p {
    font-size: 18px;
    font-weight: 700;
}

.advantages .container .block .top span {
    color: rgba(30, 30, 31, 1);
}


/* Стили для блока с товарами */
.products {
    padding: 50px 0;
}

.products .top {
    display: grid;
    place-items: center;
    padding-bottom: 50px;
}

.products .top h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 25px;
}

.products .top h3 {
    color: rgba(30, 30, 31, 1);
    font-weight: 400;
    font-size: 18px;
    max-width: 450px;
    text-align: center;
}

.products .container {
    padding: 0 100px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
}

.products .container .block {
    border-radius: 20px;
    margin-right: 25px;
    margin-bottom: 50px;
    transition: 0.2s ease-in;
}

.products .container .block:hover {
    transform: scale(0.98);
}

.products .container .block:last-child {
    margin-right: 0px;
}



/* Стили для блока с галлерии */
.gallery {
    padding: 50px 0;
}

.gallery h2 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.gallery .container {
    padding: 0 100px;
    display: grid;
   place-items: center;
   padding-top: 50px;
}

.gallery .container .main-img {
    height: 600px;
    width: 100%;
    transition: transform 0.5s ease;
    transform: translateX(0);
}

.gallery .container .container-additional {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: bottom;
    margin-top: 25px;
}

.gallery .container .container-additional .arrow {
    width: 20px;
    height: 40px;
    margin-top: 30px;
    transition: 0.2s ease-in;
}

.gallery .container .container-additional .arrow:hover {
    transform: scale(0.9);
}

.gallery .container .container-additional .images {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 25px;
}

.gallery .container .container-additional .images img.active {
    transform: scale(0.9);
    transition: transform 0.3s;
    border-radius: 8px;
}

.gallery .container .container-additional .images img {
    width: 150px;
    height: 100px;
    margin-right: 15px;
}

.gallery .container .container-additional .images img:last-child {
    margin-right: 0px;
}

.arrow:focus,
.images img:focus {
    outline: none;
}